body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    height: 100vh; /* Ensure the body takes the full height of the viewport */
  }
  
  html, body {
    height: 100%; /* Ensure the body and html take the full height of the viewport */
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    height: 100%; /* Ensure the container takes the full height of the viewport */
  }
  
  .component {
    background-color: #606060;
    color: white;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 8px;
  }
  
  .data-selector-component {
    flex: 1; /* Adjust this value to make it smaller */
    max-width: 30%; /* Ensure it doesn't grow too large */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dashboard-display-component {
    flex: 2; /* Adjust this value to make it larger */
    max-width: 70%; /* Ensure it doesn't grow too large */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  